.loader {
    display: flex; /* damit sie nebeneinander sind */
    justify-content: center;
    align-items: center;
}

.loader > span {
    display: inline-block;
    background-color: purple;
    /*starting at 0 and going up --> wir könnten sclae verwenden, aber wir sehen hier eine andere vorgehensweise */
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0,0,0); /*translate3d(0); geht auch */
    animation: bounce 0.6s infinite alternate; /* alternate changes the direction of the animation */
}

.loader > span:nth-child(2){
    background-color: palevioletred;
    animation-delay: 0.2s;
}

.loader > span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        /* changing on x,y,z axis */
        transform: translate3d(0, -16px, 0);
    }
}