.loader{
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%,-50%,0);
}

.loader > .dot {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}

.loader > .dot:nth-child(2) {
    animation-delay: 0.1s;
    background-color: #3ac050;
}

.loader > .dot:nth-child(3) {
    animation-delay: 0.2s;
    background-color: #3ac100;
}

.loader > .dot:nth-child(4) {
    animation-delay: 0.3s;
    background-color: #3ac150;
}

.loader > .dot:nth-child(5) {
    animation-delay: 0.4s;
    background-color: #3ac200;
}

@keyframes slide{
    0% {
        transform: scale(1)
    }
    50%{
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}